.maindiv{
    display: flex;
    background-color: #f0f4f9;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 10px;
    height: 45px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 25px;
    position: absolute;
    top: 83vh;

   
    
}
.maindiv input{
    width: 80%;
    background-color:#f0f4f9 ;
    border-style: none;
    outline: none;
    font-size: 18px;
    
}